{% extends "base.html" %} {% block title %}Verify{% endblock %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/btn_style.css')}}">
    <script src="/static/js/TestMe.js"></script>
</head>

<body style="background-color: hsl(323 21% 16%);">
</body>


<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading username-text">{{ username }}</h2>
            <p class="text-secondary email-text">{{ email }}</p>
            <p class="text-secondary email-text">{{ grade }}</p>
            <p class="text-secondary email-text">{{ role }}</p>
            <p class="text-secondary email-text">{{ groupNumber }}</p>
        </div>
    </div>
    <br />
    
</div>
{% endblock %}